* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Titillium Web", sans-serif;
 position: relative;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888 transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*********************************************
**********************************************
*************** Header Styling ***************
**********************************************
*********************************************/
.header {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(0, 0, 0) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 12;
}
.header .desktop-logo {
  display: block;
}
.header .mobile-logo {
  display: none;
}
.header .desktop-logo img {
  height: 70px;
}
.header .mobile-logo img {
  width: 120px;
}
.header .side-btns {
  display: flex;
  align-items: center;
}
.header .side-btns a {
  margin-left: 30px;
  background: transparent;
  color: #ffffff;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s all;
}
.header .side-btns a:hover {
  opacity: 0.7;
}
/****************************
********** Menu btn**********
****************************/
.menu-btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  background: transparent;
  padding: 15px 3px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.5s all;
}
/****************************
******* Line Styling ********
****************************/
.menu-btn .icon {
  margin-left: 7px;
}
.menu-btn .icon .icon-lines {
  height: 3px;
  background: #fff;
  width: 25px;
  margin: 0 0 5px 0;
  display: block;
  position: relative;
  transition: 0.3s all;
}
.menu-btn .icon .icon-lines::after {
  content: "";
  height: 3px;
  width: 0%;
  background: linear-gradient(to right, #33ccff 0%, #000000 100%);
  display: block;
  transition: 0.5s all;
}
.menu-btn:hover .icon-lines::after {
  width: 100%;
}
.menu-btn .icon .icon-lines:nth-child(2)::after {
  position: absolute;
  right: 0;
}
/*****************************************
**Now Style to make Three lines to Cross**
*****************************************/
.menu-btn.close .icon-lines:nth-child(1) {
  transform: rotate(45deg) translate(4px, 9px);
}
.menu-btn.close .icon-lines:nth-child(2) {
  transform: translateX(120px);
  opacity: 0;
}
.menu-btn.close .icon-lines:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -7px);
}

/*********************************************
**********************************************
****************** Side Menu *****************
**********************************************
*********************************************/
.side-menu {
  background: #000;
  width: 255px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: -1;
  transform: translateX(-255px);
  transition: 1s all;
}
.side-menu ul {
  list-style: none;
}
.side-menu li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  text-decoration: none;
  display: block;
  margin: 10px;
  transition: 0.3s all;
}
.side-menu li a:hover {
  opacity: 0.7;
}
/******************************
***** Side Toogle Classes *****
******************************/
.open {
  transform: translateX(0px);
}
.content-move {
  transform: translateX(255px);
}

/*********************************************
**********************************************
************* Information bar Menu ***********
**********************************************
*********************************************/
.information {
  background: black;
  color: #fff;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 86px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 10;
  transform: translateX(-320px);
  transition: 1s all;
  padding: 0px 20px 30px 20px;
}
.open-2 {
  transform: translateX(0px);
}
.content-move-2 {
  transform: translateX(320px);
}
.information .close-info {
  width: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.3s all;
}
.information .close-info:hover {
  opacity: 0.7;
}
/**************************************
******* Address section starts  *******
**************************************/
.information .address-sec {
  padding: 50px 30px 20px 0;
}
.mt {
  margin-top: 10px;
}

.information .address-sec h3 {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(27, 25, 25);
  padding: 10px 0;
}
.information .address-sec .icon:hover {
  text-decoration: none !important;
}
.information .address-sec .address {
  display: flex;
}
.information .address-sec .address a {
  color: #fff;
  text-decoration: none;
}
.information .address-sec .text {
  margin-left: 15px;
}
.information .address-sec .address:hover {
  text-decoration: underline;
}
.information .address-sec .phone {
  display: flex;
}
.information .address-sec .phone a {
  color: #fff;
  text-decoration: none;
}
.information .address-sec .phone:hover {
  text-decoration: underline;
}
.information .clock {
  display: flex;
}
.information .address-sec .clock:hover {
  text-decoration: underline;
}
.information .clock a {
  text-decoration: none;
  color: #fff;
}
.information .email-sec {
  display: flex;
}
.information .address-sec .email-sec:hover {
  text-decoration: underline;
}
.information .email-sec a {
  text-decoration: none;
  color: #fff;
}
/**************************************
******* Tweeter section starts  *******
**************************************/
.tweet-sec {
  padding: 50px 0 20px 0;
}
.tweet-sec h3 {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(27, 25, 25);
  padding: 10px 0;
}
.tweet-sec .owner-detail {
  display: flex;
}
.tweet-sec .owner-detail img {
  max-height: 50px;
}
.tweet-sec .owner-detail .text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.tweet-sec .owner-detail .text h4 {
  line-height: 16px;
  font-size: 18px;
}
.tweet-sec .owner-detail .text h5 {
  font-weight: lighter;
}

.tweet-sec .simple-line {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
}
.tweet-sec .simple-line .arrows {
  display: flex;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.3s all;
}
.tweet-sec .simple-line .arrows .left:hover {
  opacity: 0.7;
}
.tweet-sec .simple-line .arrows .right:hover {
  opacity: 0.7;
}
.tweet-sec .simple-line .arrows img {
  width: 7px;
}
.tweet-sec .simple-line .arrows .right {
  margin-left: 10px;
}
.tweet-sec .simple-line .avatar {
  margin-left: 5px;
}
.tweet-sec .simple-line .line {
  border-bottom: 1px solid rgb(27, 25, 25);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet-sec .slider-2 .slide p {
  font-size: 14px;
  font-weight: lighter;
  line-height: 22px;
}
.tweet-sec .slider-2 .slide p .site-link {
  color: #fff;
  display: block;
  font-size: 15px;
  text-decoration: none;
}
.tweet-sec .slider-2 .slide p .site-link:hover {
  text-decoration: underline;
}
.tweet-sec .slider-2 .slide p .date {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.tweet-sec .slider-2 .slide {
  display: none;
}

/**************************************
****** Intagram section starts  *******
**************************************/
.intagram-feed {
  padding: 50px 0 20px 0;
}
.intagram-feed h3 {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(27, 25, 25);
  padding: 10px 0;
}
.intagram-feed .img-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
}
.intagram-feed .img-gallery img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 0.3s all;
}
.intagram-feed .img-gallery img:hover {
  box-shadow: 0 0 5px #fff;
  z-index: 1;
  cursor: pointer;
}

/*********************************************
**********************************************
*************** Main Container ***************
**********************************************
*********************************************/
.container {
  width: 100%;
  transition: 1s all;
  position: relative;
}

/*****************************
******** owl-carousel ********
*****************************/
.owl-carousel .item {
  height: calc(100vh - 86px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #000;
  text-transform: capitalize;
  padding-bottom: 30px;
  position: relative;
}
.owl-carousel .item {
  border-right: 1px solid #fff;
  color: #fff;
  /* overflow: hidden; */
}
.owl-carousel .item img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.owl-carousel .item video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

/******* Owl Nav Styling *******/
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff !important;
  background: none !important;
  z-index: 10;
}
.owl-carousel .owl-prev {
  margin-top: 5px;
  left: 2%;
}
.owl-carousel .owl-next {
  right: 2%;
}
/**** Owl Item Below btns ****/
.owl-carousel h3 {
  font-size: 25px;
  transition: 1s all;
  font-weight: 600;
  transform: translateY(20px);
}
.owl-carousel p {
  margin-top: 6px;
  transition: 1s all;
  transform: translateY(20px);
}
.owl-carousel a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
  margin-top: 15px;
  transition: 1.5s all;
  display: none;
  z-index: 1222;
}
.owl-carousel .item:hover h3 {
  transform: translateY(0px);
}
.owl-carousel .item:hover p {
  transform: translateY(0px);
}
.owl-carousel .item:hover a {
  display: block;
}

/**********************************
** Container BG Image and Video  **
**********************************/
.container .slider-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**********************************
*********** Footer Btn ************
**********************************/
.footer-btn{
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 9999;

}
.footer-btn a{
  color: #fff;
  background: transparent;
  color: #ffffff;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s all;
  display: none;
}
.footer-btn a:hover {
  color: #3eb5de;
}

/*********************************************
**********************************************
**************** Media Quries ****************
**********************************************
*********************************************/
@media screen and (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
  }
  .side-btns {
    position: absolute;
    top: -200px;
  }
  .owl-stage {
    display: flex;
    flex-direction: column;
  }

  .owl-carousel .item {
    height: 250px;
    /* border-bottom: 1px solid #fff; */
    border-right: 0;
  }
  .owl-carousel.off {
    display: block;
  }

  .container .slider-background {
    display: none;
  }
  .owl-carousel .item img {
    display: block;
  }
  .owl-carousel .item video {
    display: block;
  }
  .owl-carousel a {
    display: none;
  }
  .owl-carousel h3 {
    transform: translateY(0px);
  }
  .owl-carousel p {
    transform: translateY(0px);
  }
  .footer-btn a {
    display: block;
  }
  .header .desktop-logo {
    display: none;
  }
  .header .mobile-logo {
    display: block;
  }
  .information {
    top: 64px;
  }
}
